section.flexCardsWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  &:hover {
    & > .flexCards {
      filter: brightness(50%);
    }
    & > .flexCards:hover {
      filter: brightness(100%);
    }
  }
  .flexCards {
    flex-grow: 1;
    position: relative;
    height: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    transition: all 0.4s;
    color: gray;
    &:nth-child(1) {
      background-color: #545454;
    }
    &:nth-child(2) {
      background-color: #414141;
    }
    &:nth-child(3) {
      background-color: rgb(55, 55, 55);
    }
    &:nth-child(4) {
      background-color: rgb(60, 60, 60);
    }
    &:hover {
      flex-grow: 1.8;
      transition: flex 0.2s;
      color: #1e1f25;
      background-color: #c0c0c0;
      & > .card-text-group {
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
      & > .cardDesc {
        line-height: 3rem;
        font-size: 3rem;
        margin-top: 1.5rem;
        display: block;
      }
    }
    .cardDesc {
      display: none;
    }
  }
}
