section.flexCardsWrap
  -
    var flexCardsList = [{
          num:'1',
          title:'照片總是拍不好？',
          subTitle:'就不會拍啊！',
          text:'別擔心找混丹'
        },{
          num:'2',
          title:'排版總是搞不定？',
          subTitle:'就不會排啊！',
          text:'別擔心找混丹'
        },{                                                
          num:'3',
          title:'資料總是搞不定？',
          subTitle:'就不會建啊！',
          text:'別擔心找混丹'                           
        },{                                                
          num:'4',
          title:'網站上線總是麻煩一堆？',
          subTitle:'就不會用啊！',
          text:'別擔心找混丹'                         
        }];
  each val, key in flexCardsList                                       
    .flexCards
      .card-text-group
        h3=val.title
        h4=val.subTitle
      .card-desc
        p=val.text