section.statusWrap
  -
    var statusList = [{
            num:'1',
            title:'4年',
            text:'拍攝經驗'
        },{
            num:'2',
            title:'40k次',
            text:'快門數'
        },{                                                
            num:'3',
            title:'4年',
            text:'程式經驗'                            
        },{                                                
            num:'4',
            title:'45k行',
            text:'程式碼'                            
        },{                                                
            num:'5',
            title:'4位',
            text:'專業夥伴'                            
        }];                 
  .statuses
    each val, key in statusList
      .status(style="background-image:url(https://mixdanstudio.s3.amazonaws.com/images/status"+val.num+".jpg)")
        .status-header
          p=val.title
            span=val.text   