section.takeActionWrap {
  width: 100%;
  height: 800px;
  background-color: #c0c0c0;
  background: url('https://mixdanstudio.s3.amazonaws.com/images/reserve1.jpg');
  background-position: center center;
  position: relative;
  background-attachment: fixed;
  z-index: 3;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
  }
  .takeAction {
    width: 300px;
    height: 400px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3);
    &:hover {
      box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.2);
      width: 330px;
      height: 430px;
      background-color: rgba(255, 255, 255, 1);
      .text-group {
        .text {
          // margin-top:100px;
          border-color: #e0e0e0;
        }
      }
      &:before {
        border-color: transparent;
      }
      &:after {
        border: 1px solid #000;
      }
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      width: 0;
      height: 0;
      transition: 0.5s;
      border-style: solid;
      border-width: 50px 200px 0 200px;
      transform: translateX(-13%);
      border-color: rgba(255, 255, 255, 0.3) transparent transparent transparent;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 95%;
      height: 95%;
      border: 1px solid #e0e0e0;
    }
    .text-group {
      padding: 10px 20px;
      box-sizing: border-box;
      .text {
        margin-top: 30%;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 20px 0;
        p {
          padding: 5px 0;
        }
      }
    }
    .btn-group {
      flex: auto;
      display: flex;
      .btn {
        position: relative;
        align-items: center;
        width: 100%;
        a {
          @include reserveBtnHide;
          transition: 0.5s;
          top: 0;
          bottom: 0;
          &:hover {
            @include reserveBtn;
            &:before {
              opacity: 0;
            }
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
