section.takeActionWrap
  .takeAction
    .text-group
      .text
        p='混丹工作室是您合作的好夥伴'
        p='專業可靠的完整服務'
        p='值得您信賴！現在就預約'
    .btn-group
      .btn
        a(href='reserve.html')='馬上預約'  