section.locationFormWrap
  .locationWrap
    #map
  .formWrap
    .form
      .input-item
        input.uname(type='text',aria-label='姓名',id="form-uname")
        label.uname-label(aria-hidden="true",for='form-uname')='姓名'
      .input-item
        input.mail(type='email',aria-label='e-mail',id="form-e-mail")
        label.mail-label(aria-hidden="true",for='form-e-mail')='e-mail'
      .input-item
        textarea(name="comment",cols="30", rows="10",aria-label='想和我們說什麼',id="form-comment")
        label.comment-label(aria-hidden="true",for="form-comment")='想和我們說什麼'
      .input-item
        input.submit(type='submit',aria-label='submit',value='submit')