section.iconWrap {
  width: 75%;
  max-width: 1080px;
  background-color: #5f6267;
  box-shadow: 10px 0px 50px -3px rgba(0, 0, 0, 0.3),
    -10px 0px 50px -3px rgba(0, 0, 0, 0.3);
  margin: auto;
  @include phone-width {
  }
  @include pad-width {
    // height:80vh;
  }
  @include pc-width {
    // height:75vh;
  }
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  .icons {
    @include phone-width {
    }
    @include pad2pc-width {
      height: 65%;
      @media screen and (max-width: 800px) {
        width: 85%;
      }
      @media screen and (min-width: 801px) and (max-width: 960px) {
        width: 75%;
      }
    }
    @include pc-width {
      width: 90%;
      // height: 82%;
    }
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    z-index: 5;
    .icon {
      letter-spacing: 0.1em;
      margin: 15% 1.5%;
      box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
        0 17px 17px 0 rgba(0, 0, 0, 0.15);
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      max-height: 450px;
      position: relative;
      background-color: rgba(252, 252, 252, 1);
      border-radius: 5px;
      .img-group {
        background-color: rgba(76, 90, 94, 1);
        width: 30%;
        border-radius: 50%;
        margin: auto;
        margin-top: 10%;
        img {
          width: 100%;
        }
      }
      .text-group {
        flex: 5;
        h2 {
          font-size: 20px;
          white-space: nowrap;
          width: 65%;
          margin: 9% auto 15% auto;
          position: relative;
          &:after {
            content: '';
            width: 30%;
            height: 150%;
            padding-bottom: 25%;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border-bottom: 3px solid #00bd9e;
          }
        }
        p {
          padding-top: 5px;
          font-size: 14px;
          text-align: center;
          text-justify: distribute;
          line-height: 220%;
          color: #7a7a7a;
          span {
            display: block;
          }
        }
      }
      .reserve-btn {
        flex: 1;
        border-radius: 2px;
        border-top: 1px solid #e0e0e0;
        width: 100%;
        bottom: 0%;
        left: 0;
        right: 0;
        margin: auto;
        a {
          text-align: center;
          padding: 7% 9%;
          font-size: 16px;
          letter-spacing: 0.1em;
          display: block;
          background-color: #ffffff;
          border-radius: 5px;
        }
      }
    }
  }
}
