@import "../../public/sass/header.scss";
@import "../../public/sass/footer.scss";
.nav{
    ul{
        li{
            &:nth-child(1){
                a{
                    box-shadow: 0 -3px 0 #E11F89 inset; 
                    -webkit-transition: padding .75s;
                    -moz-transition: padding .75s;
                    -o-transition: padding .75s;
                    transition: padding .75s;                    
                }
            }
        }
    }
}

#body_bgc{
    .banner{
        display: flex;
        align-items:stretch;
        width: 100%;
        margin:auto;
        position: relative;
        .banner_slider{
            flex:1;
            overflow: hidden;
            ul{
                list-style-type:none;
                white-space:nowrap;
                font-size: 0;
                line-height: 0;
                transition:transform 1s ease-in-out;
                li{
                    display: inline-block;
                    width: 100%;
                    height: 430px;
                    font-size: 25px;
                    letter-spacing: -0.03em;
                    background-position: center top;
                    background-size: cover;
                    text-transform: uppercase;
                    box-sizing: border-box;
                    span{
                        width: 100%;
                        height: 100%;
                        padding:10px 20px;
                        border-radius: 3px;
                    }
                    @include pc-width{
                        padding-left: 10%;
                        text-align: left;
                        line-height: 430px;                        
                    }
                    @include pad-width{
                        padding-left: 10%;
                        text-align: left;
                        line-height: 430px;
                    }
                    @include phone-width{
                        line-height: 380px;
                        text-align: center;
                    }
                    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);                    
                    &:nth-child(1) {
                        color: #dedede;
                        span{
                            background-color: rgba(27, 60, 43,0.6);
                        }
                    }
                    &:nth-child(2) {
                        color: #000;
                        span{
                            background-color: rgba(255,255,255,0.7);
                        }
                    }
                    &:nth-child(3) {
                        span{
                            background-color: rgba(255, 135, 45,0.1);
                        }                        
                    }
                }
            }
        }
        .arrow{
            width: 7%;
            min-width:66px;
            height: 100%;
            border: none;
            z-index: 2;
            background: transparent;
            color: #fff;
            font-size: 40px;
            text-align: center;
            outline: none;
            opacity: 0.2;
            position:absolute;
            transition: opacity 300ms ease-out;
            img{
                position: absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                margin: auto;
            }
            &:first-child{
                left:0;
                background-color: rgba(255,255,255,0.45);
            }    
            &:last-child{
                right:0;                
                background-color: rgba(255,255,255,0.45);
            }

            &:hover{
                opacity: 1;
            }            
        }
        .reserve_btn{
            width: 139px;
            position:absolute;
            text-align: center;
            font-size: 16px;      
            margin: auto;
            @include phone-width{
                bottom:20%;
                left:0;
                right:0;
            }
            @include pad-width{
                top:0;
                bottom:0;
                right:15%;
            }
            @include pc-width{
                top:0;
                bottom:0;
                right:15%;
            }
            height:53px;
            line-height: 53px;
            border-radius: 10px;
            border:1px solid #fff;
            background: rgba(252,252,252,1);
            box-shadow: 0px 3px 9px rgba(0,0,0,0.5);
            &:before,&:after{
                content:'';
                display: block;
                position: absolute;
                width: 90%;
                height: 83%;
                top:0;
                bottom:0;
                left:0;
                right:0;
                margin:auto;
                border: 1px solid rgba(252,252,252,1);
                border-radius: 10px;
            }
            // Trick here. Animate opacity instead of box-shadow itself
            // http://tobiasahlin.com/blog/how-to-animate-box-shadow/
            &:before{
                opacity:1;
                box-shadow: 0px 1px 6px rgba(0,0,0,0.2),0px -3px 5px rgba(255,255,255,1) inset;
            }
            &:after{
                opacity:0;
                transition: opacity .5s ease-out;
                box-shadow: 0px 1px 6px rgba(0,0,0,0.2) inset,0px -3px 5px rgba(255,255,255,1);
            }
            &:hover{
                &:before{
                    opacity:0;
                }
                &:after{
                    opacity:1;
                }
            }
        }
    }
    section.iconWrap-container{
        width: 100%;
        max-width:1080px;
        margin: auto;
        @include phone-width{

        }
        @include pad-width{
            height:80vh;
        }
        @include pc-width{
            height:90vh;
        }
        padding-top:50px;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items:center;
        align-items:center;
        -webkit-justify-content:center;
        justify-content:center;
        .iconWrap{
            @include phone-width{

            }
            @include pad2pc-width{
                height: 65%;
                @media screen and (max-width:800px){
                    width: 85%;
                }
                @media screen and (min-width:801px) and (max-width:960px){
                    width: 75%;
                }                
            }
            @include pc-width{
                width: 73%;
                height: 65%;
            }
            display: flex;
            flex-flow:row nowrap;
            .icon{
                letter-spacing: 0.1em;
                margin: 0 1.5%;
                box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
                flex:1;
                display: flex;
                flex-flow:column nowrap;
                height:100%;
                max-height: 450px;
                position: relative;
                background-color: rgba(252,252,252,1);
                border-radius: 5px;
                .iconImg-container{
                    background-color: rgba(76,90,94,1);
                    width: 30%;
                    border-radius: 50%;
                    margin: auto;
                    margin-top:10%;
                    img{
                        width: 100%;
                    }
                }
                .iconTxt-container{
                    flex:5;
                    h2{
                        font-size: 20px;
                        white-space: nowrap;
                        width: 65%;
                        margin: 9% auto 15% auto;
                        position:relative;
                        &:after{
                            content:'';
                            width: 30%;
                            height:150%;
                            padding-bottom:25%;
                            display: block;
                            position:absolute;
                            top:0;
                            bottom:0;
                            left:0;
                            right:0;
                            bottom:0;
                            margin:auto;
                            border-bottom:3px solid #00BD9E;
                        }
                    }
                    p{
                        padding-top:5px;
                        font-size: 14px;
                        text-align: center;
                        text-justify: distribute;
                        line-height:220%;
                        color:#7A7A7A;
                        span{
                            display: block;
                        }
                    }
                }
                .reserve_btn{
                    flex:1;
                    border-radius: 2px;
                    border-top:1px solid #E0E0E0;
                    width: 100%;
                    margin:auto;
                    position:absolute;
                    bottom:0%;
                    left:0;
                    right:0;
                    margin:auto;  
                    a{
                        text-align: center;
                        padding:7% 9%;
                        font-size: 16px;
                        letter-spacing: 0.1em;
                        display: block;
                        background-color: #ffffff;
                        border-radius: 5px;
                    }                    
                }
            }
        }
    }
    section.photoWorks-container{
        width: 100%;
        height:600px;
        background-color: #333;
        margin: auto;
        display:flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        .photoWorks{
            max-width:695px;
            margin:10px 0;
            margin:auto;
            box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 1);
            position: relative;
            .sliderCtrl{
                position: absolute;
                top:0;
                bottom:0;
                margin:auto;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 2px solid #555;
                background-color: transparent;
                transition: all 0.4s cubic-bezier(0.195, 0.885, 0.32, 1.675);
                .slider-controlLine{
                    position: absolute;
                    width: 14px;
                    height: 3px;
                    left:0;
                    right:0;
                    top:0;
                    bottom:0;
                    margin:auto;
                    &:before,&:after{
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: #666;
                        transform-origin: 50% 50%;
                        left:-4%;                       
                    }
                    &:before{
                        bottom:150%;
                        transform: rotate(-45deg);
                    }
                    &:after{
                        top:150%;
                        transform: rotate(45deg);
                    }
                }
                .slider-controlLine-right{
                    &:before,&:after{
                        right:-8%;
                        left:auto;                        
                    }
                    &:before{
                        bottom:150%;
                        transform: rotate(45deg);
                    }
                    &:after{
                        top:150%;
                        transform: rotate(-45deg);
                    }
                }
                &.prev{
                    left:-84px;;
                }
                &.next{
                    right:-84px;
                }
                &:hover {
                    background: #666;
                    border-color: #666;
                    transform: scale(1.2);
                    box-shadow: 0 10px 40px -15px rgba(0, 0, 0, 1);
                    .slider-controlLine{
                        &:before,&:after{
                            background-color: #333;
                        }
                        &:before{
                            animation: arrowLineRotation 0.5s;
                        }
                        &:after{
                            animation: arrowLineRotationRev 0.5s;
                        }
                    }
                    .slider-controlLine-right{
                        &:before{
                            animation: arrowLineRotationRev 0.5s;
                        }
                        &:after{
                            animation: arrowLineRotation 0.5s;
                        }                        
                    }
                }
                &:active {
                    transform: translate(0, 3px) scale(1.2);
                    box-shadow: none;
                }                                
            }
        }
        .ripple {
            width: 0;
            height: 0;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.1);
            transform: scale(0);
            position: absolute;
            opacity: 1;
        }
        .rippleEffect {
            animation: rippleDrop .6s linear;
        }
    }
}

@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
} 

@keyframes arrowLineRotation {
    to {
        transform: rotate(135deg);
    }
}

@keyframes arrowLineRotationRev {
    to {
        transform: rotate(-135deg);
    }
}