<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>首頁 / 混丹視覺工作室</title>	
</head>
<body>
	<script src="./js/vendor.js"></script>
	<script src="./js/common.js"></script>
	<script src="./js/index.js"></script>

	<div id="loading"></div>
	<input type="checkbox" name="" id="menuControl">
	<input type="checkbox" name="" id="searchControl">
	<div class="body_bgc">
	
	</div>

	<!-- <div class="banner">
		<div class="banner_slider">
			<ul>
				<li><a href="#"><img src="img/banner_slider_1.jpg" alt="專業可靠快速的攝影服務"></a></li>
				<li><a href="#"><img src="img/banner_slider_2.jpg" alt="全套式的網站建置顧問服務"></a></li>
				<li><a href="#"><img src="img/banner_slider_3.jpg" alt="素材拍攝到網站建置一次完成"></a></li>
			</ul>
		</div>

		<div class="caption"></div>

		<div class="arrow">
			<a href="javascript:;">
				<div><img class="prev" src="img/arrow-left-01.png" alt="leftarrow"></div>
			</a>
			<a href="javascript:;">
				<div><img class="next" src="img/arrow-right-01.png" alt="rightarrow"></div>
			</a>
		</div> -->
		<!-- <div class="slogan">
			<p>專業可靠快速的攝影服務
			<span>全套式的網站建置顧問服務</span>
			<span>素材拍攝到網站建置一次完成</span>
			</p>
		</div> -->
		<!-- <div class="reserve_btn">
			<a href="reserve.html">馬上預約</a>
		</div>
	</div> -->

</body>
</html>