<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>首頁 / 混丹視覺工作室</title>	
</head>
<body>
<div id="loading"></div>
<input type="checkbox" name="" id="menuControl">
<input type="checkbox" name="" id="searchControl">
<div id="body_bgc">
	<div class="headerspace"></div>
	<header class="header_bgc"></header>

	<div class="banner">
		<div class="banner_slider">
			<ul>
				<li><a href="#"><img src="./assets/banner_slider_1.jpg" alt="專業可靠快速的攝影服務"></a></li>
				<li><a href="#"><img src="./assets/banner_slider_2.jpg" alt="全套式的網站建置顧問服務"></a></li>
				<li><a href="#"><img src="./assets/banner_slider_3.jpg" alt="素材拍攝到網站建置一次完成"></a></li>
			</ul>
		</div>
		<div class="caption"></div>
		<div class="arrow">
			<a href="javascript:;">
				<div><img class="prev" src="img/arrow-left-01.png" alt="leftarrow"></div>
			</a>
			<a href="javascript:;">
				<div><img class="next" src="img/arrow-right-01.png" alt="rightarrow"></div>
			</a>
		</div>
		<div class="reserve_btn">
			<a href="reserve.html">馬上預約</a>
		</div>
	</div>


	<div class="icon_wrap_bgc">
		<div class="vam1"></div>
		<div class="icon_wrap">
			<div class="icon1 icon">
				<div class="iconbgc">
					<img src="img/1462891572_camera_改_bw_白色.png" alt="專業攝影服務">
				</div>
				<div class="icontxtbgc">
					<h2>專業攝影服務</h2>
					<p>獨特細膩的攝影眼
						<span>結合專業攝影知識</span>
						<span>值得您信賴的品質</span>
						<span>影像靈魂與您共鳴</span></p>
				</div>
				<div class="reserve_btn">
					<a href="services.html">瞭解更多</a>
				</div>
			</div>
			<div class="icon2 icon">
				<div class="iconbgc">
					<img src="img/1462891491_dev_改_bw_白色.png" alt="網站建置服務">
				</div>
				<div class="icontxtbgc">
					<h2>網站建置服務</h2>
					<p>電商時代不可或缺
						<span>網站建置顧問服務</span>
						<span>讓您不再缺東缺西</span>
						<span>HTML＋CSS＋JS＋SQL</span></p>
				</div>
				<div class="reserve_btn">
					<a href="services.html">瞭解更多</a>
				</div>
			</div>
			<div class="icon3 icon">
				<div class="iconbgc">
					<img src="img/1462891562_image_改_bw_白色.png" alt="img/視覺整合服務">
				</div>
				<div class="icontxtbgc">
					<h2>視覺整合服務</h2>
					<p>客製化的影像素材
						<span>素材精準符合需求</span>
						<span>網站建置素材拍攝</span>
						<span>混丹幫您一次解決</span></p>
				</div>
				<div class="reserve_btn">
					<a href="services.html">瞭解更多</a>
				</div>
			</div>
		</div>
	</div>



	<footer class="footer_wrap"></footer>
</div>
<script src="./js/vendor.js"></script>
<script src="./js/common.js"></script>
<script src="./js/index.js"></script>
</body>
</html>