section.serviceBannerWrap {
  width: 100vw;
  max-width: 100%;
  height: 91vh;
  position: relative;
  background-image: url('https://mixdanstudio.s3.amazonaws.com/images/service_banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .serviceBanner {
    width: 70%;
    height: 50%;
    position: absolute;
    z-index: 4;
    color: #fff;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    p {
      font-size: 7vw;
      line-height: 120%;
      text-align: center;
      text-shadow: 1px 1px 3px #000;
      font-weight: 100;
      letter-spacing: 0.01em;
      span {
        font-size: 2vw;
        display: block;
      }
    }
  }
}
