footer {
  background-color: #f9f9f9;
}
.footerWrap {
  width: 100%;
  margin: auto;
  font-size: 0;
  .footer {
    height: 0;
    display: inline-block;
    vertical-align: top;
    @include phone-width {
      width: 24%;
      margin: 5% 0;
      padding-bottom: 15%;
      font-size: 9px;
    }
    @include pad-width {
      width: 20%;
      margin: 2% 0;
      padding-bottom: 10%;
      font-size: 11px;
    }
    @include pc-width {
      width: 20%;
      margin: 2% 0;
      padding-bottom: 10%;
      font-size: 13px;
    }
    h2 {
      color: #898989;
      font-weight: 100;
      text-align: center;
      margin-bottom: 5%;
      @include phone-width {
        font-size: 11px;
      }
      @include pad-width {
        font-size: 1.3vw;
      }
      @include pc-width {
        font-size: 1.2vw;
      }
    }
    + .footer {
      border-left: 1px solid #dedede;
    }
    + .follow {
      @include phone-width {
        width: 100%;
        margin: 0;
        padding-bottom: 1%;
        border-left: 0px solid #fff;
      }
      @include pad-width {
        border-left: 1px solid #dedede;
      }
      @include pc-width {
      }
      h2 {
        @include phone-width {
          color: #898989;
          font-weight: 100;
          text-align: center;
          margin-bottom: 2%;
        }
        @include pad-width {
        }
        @include pc-width {
        }
      }
    }
    li {
      text-align: center;
      @include phone-width {
        margin: 6% 0;
      }
      @include pad-width {
        margin: 8% 0;
      }
      @include pc-width {
        margin: 7% 0;
      }
      a {
        color: #1e1f25;
        @include phone-width {
          font-size: 2.5vw;
        }
        @include pad-width {
          font-size: 1.6vw;
        }
        @include pc-width {
          font-size: 1.4vw;
        }
      }
    }
  }
  .follow {
    @include phone-width {
    }
    @include pad-width {
      width: 26%;
      vertical-align: middle;
    }
    @include pc-width {
      width: 26%;
      vertical-align: middle;
    }
    h2 {
      color: #898989;
      font-weight: 100;
      text-align: center;
      margin-bottom: 4.5%;
    }
    .follow-social {
      width: 70%;
      margin: auto;
      font-size: 0;
      div ~ a > div {
        width: 25%;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        @include phone-width {
          padding: 0 2%;
        }
        @include pad-width {
          padding: 0 2%;
        }
        @include pc-width {
          padding: 0 2%;
        }
      }
      img {
        width: 100%;
        background-color: #626161;
        border: 1px solid #c0c0c0;
      }
      .vam2 {
        width: 0;
        height: 0;
        padding-bottom: 10%;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .footer-logo {
    width: 25%;
    text-align: center;
    font-size: 0;
    @include phone-width {
      display: none;
    }
    @include pad-width {
      vertical-align: middle;
    }
    @include pc-width {
      vertical-align: middle;
    }
    .vam {
      width: 0;
      height: 0;
      display: inline-block;
      vertical-align: middle;
      @include phone-width {
      }
      @include pad-width {
        padding-bottom: 30%;
      }
      @include pc-width {
        padding-bottom: 25%;
      }
    }
    a {
      img {
        width: 80%;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

.bottom-company-name {
  width: 100%;
  height: 0;
  letter-spacing: 0.15em;
  text-align: center;
  color: #fff;
  background-color: #626161;
  @include phone-width {
    margin-top: 30%;
    padding-top: 0.829167%;
    padding-bottom: 2.05833%;
    font-size: 8px;
  }
  @include pad-width {
    padding-top: 0.629167%;
    padding-bottom: 2.25833%;
    font-size: 10px;
  }
  @include pc-width {
    padding-top: 0.629167%;
    padding-bottom: 1.65833%;
    font-size: 10px;
  }
}
