@import "../../public/sass/_media.scss";
@import "../../public/sass/_reset.scss";
@import "../../public/sass/_mixin.scss";

body{
	width:100%;
	margin:auto;
	text-align:center;
	background-color:#F9F9F9;
	font-family:"Microsoft YaHei";
	font-family:"Huakang";
    #menuControl{
		position:absolute;
		left:-100000px;
		display:none;
		&:checked{
            ~ #body_bgc{
				>.header_bgc{
					>.header{
						>.navbgc{
							>.nav{
								>ul{
									@include phone-width{
										top:0;
									}
								}
							}
						}
					}
				}
			}
		}
    }
    #searchControl{
		position:absolute;
		left:-100000px;
		visibility: hidden;
        &:hover{
            cursor:pointer;
        }
        &:checked{
            ~ #body_bgc{
				>.header_bgc{
					>.header{
						>.navbgc{
							>.nav{
								>ul{
									li{
										&:nth-child(7){
											ul{
												@include pad-width{
													top:135%;
													opacity:1;													
												}
												@include pc-width{
													top:135%;
													opacity:1;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
        }
    }

	#body_bgc{
		width: 100%;
		margin:auto;
		.headerspace{
			@include phone-width{
				@include ratio-box(100%,0,16.822430%);
			}
			@include pad-width{
				@include ratio-box(100%,55px,0%);
			}
			@include pc-width{
				@include ratio-box(100%,55px,0%);
			}
		}
		header.header_bgc{
			@include pad-width{
				@include ratio-box(100%,55px,0%);
				position:fixed;
				top:0;
				z-index:2000;	
			}
			@include pc-width{
				@include ratio-box(100%,55px,0);
				@include boxShadow(four);
				@include transition(one,0.75s);
				@include bgc;
				position:fixed;
				top:0;
				left:0;
				right:0;
				margin: auto;		
				z-index:2000;	
			}	
		}
	}
}