$pc-media-min:960px;
$pad-media-max:959px;
$pad-media-min:601px;
$phone-media-max:600px;
// include 
//電腦
@mixin pc-width {
    @media screen and (min-width: $pc-media-min) {
        @content;
    }
}
//平板
@mixin pad-width {
    @media screen and (min-width:$pad-media-min) and (max-width: $pad-media-max) {
        @content;
    }
}
//電腦 + 平板
@mixin pad2pc-width{
    @media screen and (min-width: $pad-media-min) {
        @content;
    }
}
//手機
 @mixin phone-width {
    @media screen and (max-width: $phone-media-max) {
        @content;
    }
 }