// 使用extend 方式引入
bgc{
    @at-root{
        %#{&} {
            background-color:#f9f9f9;
        }
        %#{&}-white{
            background-color:#e8e8e8;
        }        

    }
}

position{
    @at-root{
        %#{&}-absolute {
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            margin:auto;
        }
        %#{&}-horizontal{
            position:absolute;
            left:0;
            right:0;
            margin:auto;
        }
        %#{&}-vertical{
            position:absolute;
            top:0;
            bottom:0;
            margin:auto;
        }
    }
}

transition{
    @at-root{
        %#{&}-one { 
            -webkit-transition: .75s;
            -moz-transition: .75s;
            -o-transition: .75s;
            transition: .75s;              
        }
        %#{&}-two { 
            -webkit-transition:padding .75s;
            -moz-transition:padding .75s;
            -o-transition:padding .75s;
            transition:padding .75s;              
        }
        %#{&}-three { 
            -webkit-transition:all .75s;
            -moz-transition:all .75s;
            -o-transition:all .75s;
            transition:all .75s;              
        }        
    }
}

boxShadow{
    @at-root{
        %#{&}-one { 
            box-shadow: 0 -3px 0 #E11F89 inset;
        }
    }
}

pseudoSet{
    ＠at-root{
        %#{&}{
            content:'';
            display:block;
        }
    }

}


// 使用include方式引入
@mixin bgc{
    background-color:#f9f9f9;
}

@mixin bgc-white{
    background-color:#e8e8e8;
}

@mixin presudoSet_default{
    content:'';
    display:block;
}

@mixin presudoSet($symbol){
    content:$symbol;
    display:block;
}

@mixin ratio-box($width,$height,$paddingBottom){
    width:$width;
    height:$height;
    padding-bottom:$paddingBottom;
}

@mixin padding-box($width,$height,$veritcal,$horizontal){
    width:$width;
    height:$height;
    padding:$veritcal $horizontal;
}

@mixin position($type){
    @if $type == absolute {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
    }
    @else if $type == horizontal{
        position:absolute;
        left:0;
        right:0;
        margin:auto;        
    } 
    @else if $type == vertical{
        position:absolute;
        top:0;
        bottom:0;
        margin:auto;        
    }
}

@mixin transition($type,$seconds){
    @if $type == one{
        -webkit-transition: #{$seconds};
        -moz-transition: #{$seconds};
        -o-transition: #{$seconds};
        transition: #{$seconds};         
    }
    @else if $type == two {
        -webkit-transition:padding #{$seconds};
        -moz-transition:padding #{$seconds};
        -o-transition:padding #{$seconds};
        transition:padding #{$seconds};         
    }
    @else if $type == three {
        -webkit-transition:all #{$seconds};
        -moz-transition:all #{$seconds};
        -o-transition:all #{$seconds};
        transition:all #{$seconds};         
    }
}
@mixin boxShadow($type){
    @if $type == one {
        box-shadow: 0 -3px 0 #E11F89 inset;
    }
    @else if $type == two {
        box-shadow: 0 -1px 0 #C0C0C0 inset; 
    }
    @else if $type == three {
        box-shadow: 0 3px 0 #C0C0C0; 
    }
    @else if $type == four {
        box-shadow: 0 1px 0 #C0C0C0; 
    }
}