@import "../../public/sass/_reset.scss";
@import "../../public/sass/_mixin.scss";

.footer_info{
    width:100%;
    margin:auto;
    font-size: 0;
    .footer_logo{

        .vam{}
        a{
            img{

            }
        }
    }
    .footer_services{
        h2{

        }
        ul{
            li{

            }
        }
    }
    .footer_works{
        h2{

        }
        ul{
            li{
                
            }
        }
    }
    .footer_brand{
        h2{

        }
        ul{
            li{

            }
        }
    }
    .footer_bis{
        h2{

        }
        ul{
            li{

            }
        }
    }
    .follow{
        h2{

        }
        .follow_social{
            .vam2{

            }
            a{
                div{
                    img{

                    }
                }
            }
        }
    }
}

.bottom{
    p{

    }
}