@import "../../public/sass/_base.scss";
@import "../../public/sass/_sass-flexbox.scss";
@import "../../public/sass/font-awesome/font-awesome.scss";
// @import "../../public/sass/_font.scss";

.header{
    @include phone-width{
        @include ratio-box(100%,0,16.822430%);
        position:fixed;
        top:0;
        z-index: 400;
    }
    @include pad-width{
        @include ratio-box(100%,100%,0%);
        @include transition(one,0.75s);
        @include bgc;
        margin: auto;
        @include boxShadow(three);
    }
    @include pc-width{
        @include ratio-box(100%,100%,0%);
        @include transition(one,0.75s);
        @include bgc;
        margin: auto;
        text-align: center;
    }
    .menuControlBtn{
        @include phone-width{
            display: block;
            @include position(vertical);
            @include ratio-box(20%,0,10%);
            text-align: center;
            z-index: 500;
            font-size: 40px;
            color:#626161;
        }
        @include pad2pc-width{
            display:none;
        }        
    }
    .logobgc{
        @include phone-width{
            @include bgc;
            @include boxShadow(two);
            position:relative;
            z-index: 402;
        }    
        @include pad-width{
            width: 20%;
            height:100%;
            @include bgc;
            display: inline-block;
            vertical-align: middle;            
            z-index:2;            
        }
        @include pc-width{
            width: 17%;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }        
        .logo{
            @include phone-width{
                @include ratio-box(51.875%,0,16.822430%);
                margin:auto;
            }
            @include pad-width{
                @include ratio-box(100%,100%,0);
                @include transition(one,0.75s);
                @include bgc;
                position:relative;
                display: block;
                margin: auto;
                z-index:30;
            }
            @include pc-width{
                @include ratio-box(100%,100%,0);
                @include transition(one,0.75s);
                @include bgc;
                position:relative;
                display: block;
                margin:auto;
            }
            img{
                @include phone-width{
                    width: 100%;
                }
                @include pad2pc-width{
                    width:auto;
                    height:90%;
                    position: absolute;
                    left:0;
                    right:0;
                    top:0;
                    bottom:0;
                    margin:auto;
                    @include transition(one,0.75s); 
                }
            }  
        }
    }
    .navbgc{
        @include phone-width{
            position:relative;
        }
        @include pad-width{
            @include bgc;
        }
        @include pad2pc-width{
            width: 78%;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
        .nav{
            @include phone-width{
                width: 100%;
                height: 0;
            }
            @include pad-width{
                @include ratio-box(95%,100%,0%);
                @include transition(one,0.75s);
                @include bgc;
                margin: auto;
                color:#1E1F25;
            }
            @include pc-width{
                @include ratio-box(90%,100%,0%);
                @include transition(one,0.75s);
                @include bgc;
                color:#1E1F25;
                margin:auto;
                text-align: left;
            }
            .nav-list{
                @include pad-width{
                    width: 75%;
                    height: 100%;
                    display: inline-block;
                    vertical-align: middle;
                }
                @include pc-width{
                    width: 75%;
                    height: 100%;
                    display: inline-block;
                    vertical-align: middle;
                }
                .nav-item{ //li
                    @include phone-width{
                        text-align: center;
                        padding:8px 0;
                    }
                    @include pad-width{
                        @include ratio-box(19%,100%,0%);
                        @include transition(three,0.75s);
                        @include bgc;
                        font-size: 1.8vw;
                        float:left;
                        position:relative;
                    }
                    @include pc-width{
                        @include ratio-box(20%,100%,0%);
                        @include transition(three,0.75s);
                        font-size: 1.3vw;
                        float:left;
                        position:relative;

                    }
                    .nav-item-text{ //a
                        @include phone-width{
                            font-size: 4vw;
                        }
                        @include pad-width{
                            @include padding-box(90%,25%,23%,0);
                            @include position(absolute);
                            @include transition(two,0.75s);
                            letter-spacing:0.05em;
                            text-align:center;
                            display:block;
                        }
                        @include pc-width{
                            @include padding-box(90%,auto,0,0);
                            @include position(absolute);
                            letter-spacing:0.05em;
                            text-align:center;
                            display:block;
                            line-height: 70px;
                        }
                        &:before{
                            @include pad2pc-width{
                                @include presudoSet_default;
                                @include position(horizontal);
                                @include padding-box(0%,100%,0,0);
                                @include boxShadow(one);
                                @include transition(one,0.75s);
                            }                         
                        }
                        &:hover{
                            &:before{
                                @include pad2pc-width{
                                    width: 100%;
                                    @include boxShadow(one);
                                    @include transition(one,0.75s);
                                }
                            }
                        }                    
                    }
                    +li{
                        &:before{
                            @include pad2pc-width{
                                @include padding-box(auto,25%,0,0);
                                @include presudoSet(' / ');
                                @include position(vertical);
                                font-size: 15px;
                                left:-4%;                                
                            }
                            @include pc-width{
                                color:#DEDEDE;
                            }                             
                        }
                    }
                    &:nth-child(1){
                        @include phone-width{
                            display: none;
                        }                         
                        &:before{
                            @include presudoSet_default;
                        }
                    }
                    &:nth-child(3){
                        @include phone-width{
                            padding:0;
                        } 
                        @include pad2pc-width{
                            position:relative;
                        }
                        ul{
                            @include pad-width{
                                @include padding-box(90%,180%,0,0);
                                top:-100px;
                                @include position(horizontal);
                                z-index:1;
                            }
                            @include pc-width{
                                @include padding-box(90%,170%,0,0);
                                top:-150px;
                                @include position(horizontal);
                                @include transition(one,0.5s);
                                z-index:1;
                            }
                            li{
                                @include phone-width{
                                    display: block;
                                    padding:8px 0;
                                } 
                                @include pad2pc-width{
                                    @include padding-box(100%,50%,0,0);
                                }
                                a{
                                    @include phone-width{
                                        box-shadow: none;
                                    } 
                                    @include pad-width{
                                        @include padding-box(100%,24%,24%,0);
                                    }                                    
                                    @include pad2pc-width{
                                        @include bgc;
                                        display:block;
                                        position:relative;
                                        z-index:2;
                                    }
                                    @include pc-width{
                                        @include padding-box(100%,24%,28%,0);
                                    }

                                                                       
                                }                                    
                            }                                
                        }
                        >a{
                            @include phone-width{
                                display: none;
                            }  
                            @include pad2pc-width{
                                @include bgc;
                                z-index:5;
                            }
                            @include pc-width{
                                @include transition(two,0.75s);
                            }
                            &:before{
                                @include pad2pc-width{
                                    display:none;
                                }
                            }                                
                        }
                        &:hover{
                            ul{
                                @include pad2pc-width{
                                    display:block;
                                    top:100%;
                                    z-index:1;
                                    @include transition(one,0.75s);  
                                }    
                            }
                        }
                    }
                    &:nth-child(4),&:nth-child(5){
                        @include pad2pc-width{
                            @include bgc;
                            z-index:5;                            
                        }
                        @include pc-width{
                            @include transition(two,0.75s);
                        }                          
                    }                                         
                }
                // 搜尋按鈕
                &.nav-search-container{ //ul
                    @include pad-width{
                        width: 16%;
                    }
                    @include pc-width{
                        width: 20%;
                    }
                    .nav-search{
                        width: 100%;
                        .searchControlBtn{ //label
                            @include phone-width{
                                display: none;
                            }
                            @include pad-width{
                                @include padding-box(90%,25%,23%,0);
                            }                              
                            @include pad2pc-width{
                                @include bgc;
                                @include position(absolute);
                                letter-spacing:0.05em;
                                text-align:center;
                                display:block;
                                z-index: 5;
                                width: 100%;                               
                            }
                            @include pc-width{
                                @include padding-box(90%,25%,0%,0);
                                @include transition(two,0.75s);
                            }
                            &:hover{
                                @include pad2pc-width{
                                    cursor:pointer;
                                }
                                &:before{
                                    width: 100%;
                                    @extend %boxShadow-one; 
                                    @extend %transition-one;
                                }
                            }
                            &:before{
                                @include pad2pc-width{
                                    @include presudoSet_default;
                                    @include position(horizontal);
                                    @include padding-box(0%,63%,0,0);
                                    @include boxShadow(one);
                                    @include transition(one,0.75s);
                                }
                            }                                                                                     
                        } 
                        ul{ //dropDownMenu
                            @include pad2pc-width{
                                @include ratio-box(280%,0,50%);
                                position:absolute;
                                z-index:1;
                                right:12%;
                                top:-100px;
                                opacity:0;
                                margin:auto;
                                @include transition(one,0.75s);
                                @include bgc-white;
                            }
                            &:after{
                                @include pad2pc-width{
                                    @include presudoSet_default;
                                    position:absolute;
                                    z-index:2001;
                                    top:-15px;
                                    right:25px;
                                    border-bottom:20px solid #e8e8e8;
                                    border-left:20px solid transparent;
                                    border-right:20px solid transparent;
                                }                   
                            }
                            @include phone-width{
                                position:relative;
                            }
                            li{
                                input{
                                    &[type="text"]{
                                        @include phone-width{
                                            font-size: 20px;
                                            border:none;
                                            @include padding-box(25%,auto,1%,0);
                                            outline:1px solid #1E1F25;
                                            background-color: rgba(232, 232, 232, 1.00);
                                        } 
                                        @include pad2pc-width{
                                            font-size: 20px;
                                            position:absolute;
                                            border:none;
                                            @include padding-box(100%,110%,0,0);
                                            @include bgc;
                                        }
                                    }
                                }
                                i{
                                    @include phone-width{
                                        font-size: 20px;
                                        @include padding-box(33%,55%,auto,auto);
                                        position:absolute;
                                        text-align: center;
                                        color:#000;
                                    }
                                    @include pad2pc-width{
                                        font-size: 20px;
                                        border:none;
                                        @include padding-box(100%,100%,0,0);
                                        position:absolute;
                                        text-align: center;
                                        @include bgc;
                                        outline:1px solid #1E1F25;
                                    }

                                    &:before{
                                        @include pad2pc-width{
                                            display:block;
                                            @include padding-box(100%,64%,0,0);
                                            @include position(absolute);
                                        }
                                    }            
                                }
                                &:first-child{
                                    @include pad2pc-width{
                                        @include ratio-box(70%,55%,0);
                                        @include position(vertical);
                                        margin: auto 1.65% auto 3.3%;
                                        text-align: left;
                                    }
                                }
                                &:last-child{
                                    @include phone-width{
                                        @include ratio-box(33%,55%,0);
                                        right:0;
                                        @include position(vertical);
                                        margin: auto 3.3% auto 1.65%;
                                        text-align: left;
                                    } 
                                    @include pad2pc-width{
                                        @include ratio-box(20%,55%,0);
                                        @include position(vertical);
                                        margin: auto 3.3% auto 1.65%;
                                        text-align: left;
                                    }
                                }
                            }                                                
                        }
                    }                 
                }
            }
            >ul{
                @include phone-width{
                    width: 100%;
                    z-index: 1;
                    padding: 3% 0;
                    top:-500px;
                    left:0;
                    position:absolute;
                    background-color: rgba(249,249,249,0.95); 
                    border-bottom:1px solid rgba(192, 192, 192, 0.4);
                    @include transition(one,0.5s);
                }
            }
        }
    }    
}