.footer_info
    div(class="footer_logo footer")
        .vam
        a(href="index.html")
            img(src='../../assets/logo.png',alt="footer_img")
    - 
        var footer_name_arr = [{
                class:'footer_services',
                title:'服務項目',
                subli:[{aHref:'services',title:'服務項目'},{aHref:'services',title:'工作流程'}]
            },
            {
                class:'footer_works',
                title:'作品欣賞',
                subli:[{aHref:'photoworks',title:'攝影作品'},{aHref:'webworks',title:'網站作品'}]
            },
            {
                class:'footer_brand',
                title:'品牌故事',
                subli:[{aHref:'brand',title:'關於D'},{aHref:'brand',title:'團隊介紹'},{aHref:'brand',title:'品牌故事'}]
            },
            {
                class:'footer_bis',
                title:'聯絡我們',
                subli:[{aHref:'reserve',title:'方案選擇'},{aHref:'reserve',title:'檔期查詢'},{aHref:'reserve',title:'聯絡我們'}]
            }
            ];
    
    each val, key in footer_name_arr
        div(class='footer' class=[val.class])
            h2=val.title
            ul
                each val2, key2 in val.subli
                    li
                        a(href=val2.aHref+'.html')=val2.title
    
    div(class="follow footer")
        h2='Follow Us！'
        div(class="follow_social")
            .vam2
            each val, key in {0:'fb',1:'ig',2:'dir',3:'be'}
                a
                    div
                        img(src='../../assets/'+val+'.png')

.bottom
    p='攝影服務 / 網站建置 / 全方位視覺整合 / 混丹視覺工作室 MIX DAN STUDIO'