.header
    label(class='menuControlBtn', for='menuControl')
        i(class='fa fa-bars')
    .logobgc
        a(class='logo first' href="index.html")
            img(src='../../assets/logo.png')
    .navbgc
        nav(class='nav')
            ul(class='nav-list')
                each val, key in {'index':'首頁','services':'服務項目','javascript:;':'作品欣賞','brand':'品牌故事','reserve':'聯絡我們'}
                    li(class='nav-item')
                        a(class='nav-item-text',href=key+'.html')=val
                        if val == '作品欣賞'
                            ul
                                li
                                    a(href='photoworks'+'.html')='攝影作品'
                                li
                                    a(href='webworks'+'.html')='網站作品'
            ul(class='nav-list nav-search-container')
                li(class='nav-item nav-search')
                    label(class='nav-item-icon-container searchControlBtn', for='searchControl')
                        i(class='nav-item-icon fa fa-search', aria-hidden="true")
                    ul
                        li
                            input(type="text", id="menuControl")
                        li
                            i(class='fa fa-search',aria-hidden="true")