doctype html
html(lang="en")
  head
    meta(charset="UTF-8", name="viewport",content="width=device-width, initial-scale=1.0, ie=edge",http-equiv="X-UA-Compatible")
    title 首頁 / 混丹視覺工作室
    link(type="text/css", rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css')
    link(type="text/css", rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")
    link(type="text/css", rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
  body
    #loading
    input(type="checkbox", id="menuControl")
    input(type="checkbox", id="searchControl")
    main#main
      block content