<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
	<div class="banner">
		<div class="banner_slider">
			<ul>
				<li><a href="#"><img src="img/banner_slider_1.jpg" alt="專業可靠快速的攝影服務"></a></li>
				<li><a href="#"><img src="img/banner_slider_2.jpg" alt="全套式的網站建置顧問服務"></a></li>
				<li><a href="#"><img src="img/banner_slider_3.jpg" alt="素材拍攝到網站建置一次完成"></a></li>
			</ul>
		</div>

		<div class="caption"></div>

		<div class="arrow">
			<a href="javascript:;">
				<div><img class="prev" src="img/arrow-left-01.png" alt="leftarrow"></div>
			</a>
			<a href="javascript:;">
				<div><img class="next" src="img/arrow-right-01.png" alt="rightarrow"></div>
			</a>
		</div>
		<div class="reserve_btn">
			<a href="reserve.html">馬上預約</a>
		</div>
	</div>
</body>
</html>