extends ../../layout/base.pug
block content
  .headerspace
  //-header
  include ../../components/header/header.pug
  //-wrap
  include ../../components/topBannerWrap/topBannerWrap.pug
  //-icon section
  include ../../components/iconsWrap/iconsWrap.pug
  //-photowork section
  include ../../components/photoWorksWrap/photoWorksWrap.pug
  //-webwork section
  include ../../components/webWorksWrap/webWorksWrap.pug   
  //-service section                                                                          
  include ../../components/serviceBannerWrap/serviceBannerWrap.pug
  //-flexcards section
  include ../../components/flexCardsWrap/flexCardsWrap.pug
  //-takeaction section
  include ../../components/takeActionWrap/takeActionWrap.pug
  //-status section
  include ../../components/statusWrap/statusWrap.pug
  //-fellow section
  include ../../components/fellowsWrap/fellowsWrap.pug
  //-location and form section
  include ../../components/locationFormWrap/locationFormWrap.pug
  //-footer
  include ../../components/footer/footer.pug