// 使用extend 方式引入
bgc {
  @at-root {
    %#{&} {
      background-color: #f9f9f9;
    }
    %#{&}-white {
      background-color: #e8e8e8;
    }
  }
}

position {
  @at-root {
    %#{&}-absolute {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    %#{&}-horizontal {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }
    %#{&}-vertical {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

transition {
  @at-root {
    %#{&}-one {
      -webkit-transition: 0.75s;
      -moz-transition: 0.75s;
      -o-transition: 0.75s;
      transition: 0.75s;
    }
    %#{&}-two {
      -webkit-transition: padding 0.75s;
      -moz-transition: padding 0.75s;
      -o-transition: padding 0.75s;
      transition: padding 0.75s;
    }
    %#{&}-three {
      -webkit-transition: all 0.75s;
      -moz-transition: all 0.75s;
      -o-transition: all 0.75s;
      transition: all 0.75s;
    }
  }
}

boxShadow {
  @at-root {
    %#{&}-one {
      box-shadow: 0 -3px 0 #e11f89 inset;
    }
  }
}

pseudoSet {
  ＠at-root {
    %#{&} {
      content: '';
      display: block;
    }
  }
}

// 使用include方式引入
@mixin bgc {
  background-color: #f9f9f9;
}

@mixin bgc-white {
  background-color: #e8e8e8;
}

@mixin presudoSet_default {
  content: '';
  display: block;
}

@mixin presudoSet($symbol) {
  content: $symbol;
  display: block;
}

@mixin ratio-box($width, $height, $paddingBottom) {
  width: $width;
  height: $height;
  padding-bottom: $paddingBottom;
}

@mixin padding-box($width, $height, $veritcal, $horizontal) {
  width: $width;
  height: $height;
  padding: $veritcal $horizontal;
}

@mixin position($type) {
  @if $type == absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  } @else if $type == horizontal {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  } @else if $type == vertical {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

@mixin transition($type, $seconds) {
  @if $type == one {
    -webkit-transition: #{$seconds};
    -moz-transition: #{$seconds};
    -o-transition: #{$seconds};
    transition: #{$seconds};
  } @else if $type == two {
    -webkit-transition: padding #{$seconds};
    -moz-transition: padding #{$seconds};
    -o-transition: padding #{$seconds};
    transition: padding #{$seconds};
  } @else if $type == three {
    -webkit-transition: all #{$seconds};
    -moz-transition: all #{$seconds};
    -o-transition: all #{$seconds};
    transition: all #{$seconds};
  }
}
@mixin boxShadow($type) {
  @if $type == one {
    box-shadow: 0 -3px 0 #e11f89 inset;
  } @else if $type == two {
    box-shadow: 0 -1px 0 #c0c0c0 inset;
  } @else if $type == three {
    box-shadow: 0 3px 0 #c0c0c0;
  } @else if $type == four {
    box-shadow: 0 1px 0 #c0c0c0;
  }
}

@mixin reserveBtnHide() {
  width: 139px;
  position: absolute;
  text-align: center;
  font-size: 16px;
  margin: auto;
  height: 53px;
  line-height: 53px;
  border-radius: 50px;
  border: 1px solid transparent;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0);
  left: 0;
  right: 0;
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 90%;
    height: 83%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 50px;
  }
}

@mixin reserveBtn() {
  width: 139px;
  position: absolute;
  text-align: center;
  font-size: 16px;
  margin: auto;
  height: 53px;
  line-height: 53px;
  border-radius: 50px;
  border: 1px solid #fff;
  background: rgba(252, 252, 252, 1);
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 90%;
    height: 83%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid rgba(252, 252, 252, 1);
    border-radius: 50px;
  }
  // Trick here. Animate opacity instead of box-shadow itself
  // http://tobiasahlin.com/blog/how-to-animate-box-shadow/
  &:before {
    opacity: 1;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2),
      0px -3px 5px rgba(255, 255, 255, 1) inset;
  }
  &:after {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2) inset,
      0px -3px 5px rgba(255, 255, 255, 1);
  }
}
